.branding {
    background: linear-gradient(rgba(1, 1, 26, 0.466), rgba(0, 0, 0, 0.32)),
                url("../assets/Coporate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  }
  
  .printingservices {
    background: linear-gradient(rgba(1, 1, 26, 0.466), rgba(0, 0, 0, 0.32)),
                url("../assets/Printings.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  }
  
  .giftItems {
    background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.32)),
                url("../assets/Gift.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  }
  
  .customize_branding {
    background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.32)),
                url("../assets/Customize.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  }
  
  /* .signage {
    background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(0, 0, 0, 0.32)),
                url("../assets/Customize.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
  } */
  