@tailwind base;
@tailwind components;
@tailwind utilities;

.log {
    background: linear-gradient(to right, #FF6B6B, #4ECDC4, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
.hero{
    background-image: linear-gradient(#000000a7 , #000000ec) , url("../src/assets/Aphamed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }/* Apply box-sizing globally */
*, *::before, *::after {
  box-sizing: border-box;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 16px; /* Ensure proper spacing between slides */
}

.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}

/* Corrected Media Query */
@media only screen and (max-width: 658px) {
  .embla__slide {
    flex: 0 0 100%;
  }
}
