@tailwind base;
@tailwind components;
@tailwind utilities;

.log {
    background: linear-gradient(to right, #FF6B6B, #4ECDC4, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
.hero{
    background-image: linear-gradient(#000000a7 , #000000ec) , url("../src/assets/Aphamedhome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  .about {
    background-image: linear-gradient(to left, #ff6b6bca, #0b0202d6), 
                      url("../src//assets/Stc.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

  /* Apply box-sizing globally */
*, *::before, *::after {
  box-sizing: border-box;
}

.embla {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 16px; /* Ensure proper spacing between slides */
}

.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}

/* Corrected Media Query */
@media only screen and (max-width: 658px) {
  .embla__slide {
    flex: 0 0 100%;
  }

  .css-13xfq8m-MuiTabPanel-root {
    padding: 0px;
}
}


